site:
  title: IvorySQL文档中心
  # the 404 page and sitemap files only get generated when the url property is set
  url: https://docs.ivorysql.org
  start_page: ivorysql-doc::Devs/welcome.adoc
content:
  sources:
  - url: git@github.com:IvorySQL/ivorysql_docs.git
    branches: [v3.*, v2.*,v1.*,developer]
    start_paths:
    - CN
asciidoc:
  attributes:
    experimental: ''
    idprefix: ''
    idseparator: '-'
    page-pagination: ''
output:
  dir: ../docs/cn
ui:
  bundle:
    url: https://github.com/IvorySQL/ivory-doc-builder/raw/main/cntemplates.zip
    snapshot: true
runtime:
  fetch: true